In this data set, the dependent variable is "target." It is a binary classification problem. We need to predict if the salary of a given person is less than or more than 50K.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#Step 1: load dataSet
train  = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Google Collab ML data repository/UCI ML data (adults for binary classification)/train.csv")
test = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Google Collab ML data repository/UCI ML data (adults for binary classification)/test.csv")

In [ ]:
#Step 2(i):check data using info()
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       30725 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education.num   32561 non-null  int64
 5   marital.status  32561 non-null  object
 6   occupation      30718 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital.gain    32561 non-null  int64
 11  capital.loss    32561 non-null  int64
 12  hours.per.week  32561 non-null  int64
 13  native.country  31978 non-null  object
 14  target          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [ ]:
#Step 2 (ii):know its size
train.shape
test.shape

(16281, 15)

In [ ]:
#STep 3:glimpse of data using head(), by default 5 rows are displayed
train.head()
#test.head(n=10)
#test.tail(n=2)

   age          workclass  fnlwgt  ... hours.per.week  native.country  target
0   39          State-gov   77516  ...             40   United-States   <=50K
1   50   Self-emp-not-inc   83311  ...             13   United-States   <=50K
2   38            Private  215646  ...             40   United-States   <=50K
3   53            Private  234721  ...             40   United-States   <=50K
4   28            Private  338409  ...             40            Cuba   <=50K

[5 rows x 15 columns]

In [ ]:
#Step 4: Check for missing data, shape[0]=no of rows, dropna()
nans = train.shape[0]-train.dropna().shape[0]
print("rows having missing values in train data",nans)

nand=test.shape[0]-test.dropna().shape[0]
print("rows having missing values in test data",nand)

rows having missing values in train data 2399
rows having missing values in test data 1221

In [ ]:
#see which column contains NaN values
train.isnull().sum()

age                  0
workclass         1836
fnlwgt               0
education            0
education.num        0
marital.status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital.gain         0
capital.loss         0
hours.per.week       0
native.country     583
target               0
dtype: int64

In [ ]:
# count no of unique values from character variables
cat=train.select_dtypes(include=['O']) #dtype='O' in pandasdatatype=object & python datatype=string 
cat.apply(pd.Series.nunique,axis=0)#axis=0 for index(columns) and axis=1=columns(rows)

workclass          8
education         16
marital.status     7
occupation        14
relationship       6
race               5
sex                2
native.country    41
target             2
dtype: int64

In [ ]:
#since missing values are in character variable, we can fill with their respective modes
#Workclass
train.workclass.value_counts(sort=True)
train.workclass.fillna(value='Private',inplace=True)

#Occupation
train.occupation.value_counts()
train.occupation.fillna(value='Prof-specialty',inplace=True)

#native.country
train['native.country'].value_counts(sort=True) #Can't use above format as native.country contains '.'
train['native.country'].fillna(value='United=-States',inplace=True)

In [ ]:
#check again for missing value
train.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
native.country    0
target            0
dtype: int64

In [ ]:
#checking proportion of target variable
train.target.value_counts()/train.shape[0]
# It means that if we guess salary<=50K, we will have 75% accuracy

 <=50K    0.75919
 >50K     0.24081
Name: target, dtype: float64

In [ ]:
pd.crosstab(train.education,train.target,margins=True)/train.shape[0]

target            <=50K      >50K       All
education
 10th          0.026750  0.001904  0.028654
 11th          0.034243  0.001843  0.036086
 12th          0.012285  0.001013  0.013298
 1st-4th       0.004975  0.000184  0.005160
 5th-6th       0.009736  0.000491  0.010227
 7th-8th       0.018611  0.001228  0.019840
 9th           0.014957  0.000829  0.015786
 Assoc-acdm    0.024631  0.008139  0.032769
 Assoc-voc     0.031357  0.011087  0.042443
 Bachelors     0.096250  0.068210  0.164461
 Doctorate     0.003286  0.009398  0.012684
 HS-grad       0.271060  0.051442  0.322502
 Masters       0.023464  0.029452  0.052916
 Preschool     0.001566  0.000000  0.001566
 Prof-school   0.004699  0.012991  0.017690
 Some-college  0.181321  0.042597  0.223918
All            0.759190  0.240810  1.000000

In [ ]:
#scikit-learn accepts data in nuemric format. To convert character variables in numeric array use labelencoder
from sklearn import preprocessing

for x in train.columns:
  if train[x].dtype=='object':
    lbl=preprocessing.LabelEncoder()
    lbl.fit(list(train[x].values))
    train[x]=lbl.transform(list(train[x].values))

In [ ]:
train.head()

   age  workclass  fnlwgt  ...  hours.per.week  native.country  target
0   39          6   77516  ...              40              38       0
1   50          5   83311  ...              13              38       0
2   38          3  215646  ...              40              38       0
3   53          3  234721  ...              40              38       0
4   28          3  338409  ...              40               4       0

[5 rows x 15 columns]

In [ ]:
train.target.value_counts()/train.shape[0]

0    0.75919
1    0.24081
Name: target, dtype: float64

In [ ]:
#Building random forest model
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

#splitting data for training
y=train['target']
del train['target']

X=train
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=1,stratify=y) 

#train random forest classifier
clf=RandomForestClassifier(n_estimators=500, max_depth=6)
clf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                max_depth=6, max_features='auto', max_leaf_nodes=None,
                min_impurity_split=1e-07, min_samples_leaf=1,
                min_samples_split=2, min_weight_fraction_leaf=0.0,
                n_estimators=500, n_jobs=1, oob_score=False, random_state=None,
                verbose=0, warm_start=False)

clf.predict(X_test)

array([0, 1, 0, ..., 0, 0, 0])

In [ ]:
#make prediction through this model and test accuracy
prediction=clf.predict(X_test)
acc=accuracy_score(np.array(y_test),prediction)
print("The training accuracy of classifier is {}".format(acc))

The training accuracy of classifier is 0.8518783908281298

In [ ]:
#Classifying Test data
test.info

<bound method DataFrame.info of        age      workclass  fnlwgt  ... hours.per.week  native.country   target
0       25        Private  226802  ...             40   United-States   <=50K.
1       38        Private   89814  ...             50   United-States   <=50K.
2       28      Local-gov  336951  ...             40   United-States    >50K.
3       44        Private  160323  ...             40   United-States    >50K.
4       18            NaN  103497  ...             30   United-States   <=50K.
...    ...            ...     ...  ...            ...             ...      ...
16276   39        Private  215419  ...             36   United-States   <=50K.
16277   64            NaN  321403  ...             40   United-States   <=50K.
16278   38        Private  374983  ...             50   United-States   <=50K.
16279   44        Private   83891  ...             40   United-States   <=50K.
16280   35   Self-emp-inc  182148  ...             60   United-States    >50K.

[16281 rows x 15 columns]>

In [ ]:
test.shape

(16281, 15)

In [ ]:
test.head()

   age   workclass  fnlwgt  ... hours.per.week  native.country   target
0   25     Private  226802  ...             40   United-States   <=50K.
1   38     Private   89814  ...             50   United-States   <=50K.
2   28   Local-gov  336951  ...             40   United-States    >50K.
3   44     Private  160323  ...             40   United-States    >50K.
4   18         NaN  103497  ...             30   United-States   <=50K.

[5 rows x 15 columns]

In [ ]:
nand=test.shape[0]-test.dropna().shape[0]
print("Missing values in test data",nand)

Missing values in test data 1221

In [ ]:
test.isnull().sum()

age                 0
workclass         963
fnlwgt              0
education           0
education.num       0
marital.status      0
occupation        966
relationship        0
race                0
sex                 0
capital.gain        0
capital.loss        0
hours.per.week      0
native.country    274
target              0
dtype: int64

In [ ]:
test.workclass.value_counts()
test.workclass.fillna(value='Private',inplace=True)

test.occupation.value_counts()
test.occupation.fillna(value='Prof-specialty',inplace=True)

test['native.country'].value_counts()
test['native.country'].fillna(value='United-States',inplace=True)

test.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
native.country    0
target            0
dtype: int64

In [ ]:
test.target.value_counts()/test.shape[0]

 <=50K.    0.763774
 >50K.     0.236226
Name: target, dtype: float64

In [ ]:
pd.crosstab(test.education,test.target,margins=True)/test.shape[0]

target           <=50K.     >50K.       All
education
 10th          0.026473  0.001536  0.028008
 11th          0.037160  0.001965  0.039125
 12th          0.012837  0.000921  0.013758
 1st-4th       0.004729  0.000123  0.004852
 5th-6th       0.010135  0.000676  0.010810
 7th-8th       0.017628  0.001351  0.018979
 9th           0.014004  0.000860  0.014864
 Assoc-acdm    0.023709  0.009090  0.032799
 Assoc-voc     0.031816  0.009889  0.041705
 Bachelors     0.096923  0.067072  0.163995
 Doctorate     0.003440  0.007678  0.011117
 HS-grad       0.273632  0.050857  0.324489
 Masters       0.026657  0.030711  0.057367
 Preschool     0.001904  0.000061  0.001965
 Prof-school   0.003931  0.011916  0.015847
 Some-college  0.178797  0.041521  0.220318
All            0.763774  0.236226  1.000000

In [ ]:
from sklearn import preprocessing

for x in test.columns:
  if test[x].dtype=='O':
    lbl=preprocessing.LabelEncoder()
    lbl.fit(list(test[x].values))
    test[x]=lbl.transform(list(test[x].values))

In [ ]:
test.target.value_counts()

0    12435
1     3846
Name: target, dtype: int64

In [ ]:
#making prediction
y=test['target']
del test['target']

In [ ]:
prediction=clf.predict(test)
acc_test=accuracy_score(np.array(y),prediction)
print("Testing accuracy of model is {}".format(acc_test))

Testing accuracy of model is 0.8544929672624532